
/* ヘッダメニュー用に下げる */
body{
  margin-top: 20px;
}

/* チェックボックスは非表示 */
input[type=checkbox] {
  display: none;
}

/* ラジオボタンは非表示 */
input[type=radio] {
  display: none;
}

/* タイトル */
h1 {
  font-family: "Nico Moji";
  text-align: center;
  font-size: 2em;
  color :#ffffff;
  margin-top: 50px;
  margin-bottom: 20px;
}

/* メンバラベル(未選択時) */
.select_member {
  background-color: #373740;
  border-radius: 4px;
  font-weight: 700;
  color: #ffffff;
  font-size: .85em;
  letter-spacing: 4px;
  text-decoration: none;
  font-family: "Nico Moji";
  text-align: center;
  width: 130px;
  padding: 5px 0;
  cursor: pointer;
  display: block;
  margin: 0 auto;
  transition: background-color 150ms ease-in;
}

/* メンバリスト(全体) */
ul {
  margin: 0;
  padding: 0;
  text-align: center;
}

/* メンバリスト(要素) */
li {
  list-style: none;
  text-align: center;
}

/* メンバラベル(男性選択) */
.male_list input[type=checkbox]:checked + span {
  background: #55FFFF url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAaCAYAAACgoey0AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAX9JREFUeNpi+P//PwMNsS4QbwBiLnQ5WlqqAsRP/0PARiBmoYfFkkB8+z8qWALEjLS0mB+IL/3HDibSymJQXB7/jx/UgNSCvU4lwAbEG4DYkwi1WUxUspQZiOcRaSkIWOAKMk0Sg3jaf+IBOIVjMyQWiH8DsR+RljaTYOkBWJ5GNwRk2R+ooh9A7ETA0jwSLL0ATfEYqRpkyVc0xR+A2AyHpdFA/I9IS0F5WhRbAWIEtQQbeAXE6lhC5jeRlj4GYgVsRaYK1HBCmmWgmuyxhAwu8BpaXjNgs/gYkYbcAGIXPCGDDkCOM8eVPkCEFhE+JhX8BGJnfAkTxgC57BOVLAXlihBC2RA9Vf+k0FJQKk8nJv+jCwQi5WNyQAWxpR02wRQS8icy6CKlmMUlUUGipfOQK3lKLAbhdhIKfWZS6258kiAfzCZg6V4gZiOn0UBIAcgn63BYehK50Ke2xQxQH+3FUoqJUtJMIlYhLxAfxVJu09xiWENuMxCrUaNhCBBgAOAVfjALa5TLAAAAAElFTkSuQmCC) no-repeat 7% center;
  background-size: 15px 13px;
}

/* メンバラベル(男性選択中) */
.male_list input[type=checkbox]:checked:hover + span {
  color: rgba(255,255,255,0.5);
  background: #77FFFF url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAeCAYAAAA7MK6iAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAS5JREFUeNq8110OgjAMAGBGvIY3VESjt9jPg95PT+LccBIZ7dYOWJPGB+g+Ymg3hLW2QeLkcu/y2pSFdvl0eQevehjI3uXbfkMh96TShFq/xhG6J4faAtxEtSBOQTm4QWpnOBWl4CZT69fuYpiCpnBDrB1xLhrjgoFO8F1oGcFslUv4bV32zFoxmOHJta0XMn65dC0UaiddA8UGiN4axeC1cUkdmWviEls/NwL1FqjPNtNvoimPdC3yRCUTiTXbt0R/oSnw2iiK10BBvBY6w2uiE3xJr8oFtcrvxy/fVcyeVdGx98yotcOxN/znHeMUIhdMOG8c4reagssF43VEoT5O4ZJwvNUUFJtcEE5BMXyGpnanf5yDxjiI+hSJj7YunEBvhbuTCh9tD+jiR4ABAJ0SrJgNr1UAAAAAAElFTkSuQmCC) no-repeat 7% center;
  background-size: 15px 15px;
}

/* メンバラベル(女性選択) */
.female_list input[type=checkbox]:checked + span {
  background: #FF55FF url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAaCAYAAACgoey0AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAX9JREFUeNpi+P//PwMNsS4QbwBiLnQ5WlqqAsRP/0PARiBmoYfFkkB8+z8qWALEjLS0mB+IL/3HDibSymJQXB7/jx/UgNSCvU4lwAbEG4DYkwi1WUxUspQZiOcRaSkIWOAKMk0Sg3jaf+IBOIVjMyQWiH8DsR+RljaTYOkBWJ5GNwRk2R+ooh9A7ETA0jwSLL0ATfEYqRpkyVc0xR+A2AyHpdFA/I9IS0F5WhRbAWIEtQQbeAXE6lhC5jeRlj4GYgVsRaYK1HBCmmWgmuyxhAwu8BpaXjNgs/gYkYbcAGIXPCGDDkCOM8eVPkCEFhE+JhX8BGJnfAkTxgC57BOVLAXlihBC2RA9Vf+k0FJQKk8nJv+jCwQi5WNyQAWxpR02wRQS8icy6CKlmMUlUUGipfOQK3lKLAbhdhIKfWZS6258kiAfzCZg6V4gZiOn0UBIAcgn63BYehK50Ke2xQxQH+3FUoqJUtJMIlYhLxAfxVJu09xiWENuMxCrUaNhCBBgAOAVfjALa5TLAAAAAElFTkSuQmCC) no-repeat 7% center;
  background-size: 15px 13px;
}

/* メンバラベル(女性選択中) */
.female_list input[type=checkbox]:checked:hover + span {
  color: rgba(255,255,255,0.5);
  background: #FF77FF url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAeCAYAAAA7MK6iAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAS5JREFUeNq8110OgjAMAGBGvIY3VESjt9jPg95PT+LccBIZ7dYOWJPGB+g+Ymg3hLW2QeLkcu/y2pSFdvl0eQevehjI3uXbfkMh96TShFq/xhG6J4faAtxEtSBOQTm4QWpnOBWl4CZT69fuYpiCpnBDrB1xLhrjgoFO8F1oGcFslUv4bV32zFoxmOHJta0XMn65dC0UaiddA8UGiN4axeC1cUkdmWviEls/NwL1FqjPNtNvoimPdC3yRCUTiTXbt0R/oSnw2iiK10BBvBY6w2uiE3xJr8oFtcrvxy/fVcyeVdGx98yotcOxN/znHeMUIhdMOG8c4reagssF43VEoT5O4ZJwvNUUFJtcEE5BMXyGpnanf5yDxjiI+hSJj7YunEBvhbuTCh9tD+jiR4ABAJ0SrJgNr1UAAAAAAElFTkSuQmCC) no-repeat 7% center;
  background-size: 15px 15px;
}

/* メンバラベル(全選択) */
.all-select input[type=checkbox]:checked + span {
  background: #7EB634 url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAaCAYAAACgoey0AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAX9JREFUeNpi+P//PwMNsS4QbwBiLnQ5WlqqAsRP/0PARiBmoYfFkkB8+z8qWALEjLS0mB+IL/3HDibSymJQXB7/jx/UgNSCvU4lwAbEG4DYkwi1WUxUspQZiOcRaSkIWOAKMk0Sg3jaf+IBOIVjMyQWiH8DsR+RljaTYOkBWJ5GNwRk2R+ooh9A7ETA0jwSLL0ATfEYqRpkyVc0xR+A2AyHpdFA/I9IS0F5WhRbAWIEtQQbeAXE6lhC5jeRlj4GYgVsRaYK1HBCmmWgmuyxhAwu8BpaXjNgs/gYkYbcAGIXPCGDDkCOM8eVPkCEFhE+JhX8BGJnfAkTxgC57BOVLAXlihBC2RA9Vf+k0FJQKk8nJv+jCwQi5WNyQAWxpR02wRQS8icy6CKlmMUlUUGipfOQK3lKLAbhdhIKfWZS6258kiAfzCZg6V4gZiOn0UBIAcgn63BYehK50Ke2xQxQH+3FUoqJUtJMIlYhLxAfxVJu09xiWENuMxCrUaNhCBBgAOAVfjALa5TLAAAAAElFTkSuQmCC) no-repeat 7% center;
  background-size: 15px 13px;
}

/* メンバラベル(全選択) */
.all-select input[type=checkbox]:checked:hover + span {
  color: rgba(255,255,255,0.5);
  background: #7EB634 url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAeCAYAAAA7MK6iAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAS5JREFUeNq8110OgjAMAGBGvIY3VESjt9jPg95PT+LccBIZ7dYOWJPGB+g+Ymg3hLW2QeLkcu/y2pSFdvl0eQevehjI3uXbfkMh96TShFq/xhG6J4faAtxEtSBOQTm4QWpnOBWl4CZT69fuYpiCpnBDrB1xLhrjgoFO8F1oGcFslUv4bV32zFoxmOHJta0XMn65dC0UaiddA8UGiN4axeC1cUkdmWviEls/NwL1FqjPNtNvoimPdC3yRCUTiTXbt0R/oSnw2iiK10BBvBY6w2uiE3xJr8oFtcrvxy/fVcyeVdGx98yotcOxN/znHeMUIhdMOG8c4reagssF43VEoT5O4ZJwvNUUFJtcEE5BMXyGpnanf5yDxjiI+hSJj7YunEBvhbuTCh9tD+jiR4ABAJ0SrJgNr1UAAAAAAElFTkSuQmCC) no-repeat 7% center;
  background-size: 15px 15px;
}

/* 全選択 */
.all-select {
  width :100%;
  text-align: center;
}

/* 種別選択 */
.select_type {
  width :100%;
  text-align: center;
}

/* 種別選択 */
.select_type input {
  width :100%;
  text-align: center;
}

/* 種別選択ラベル(未選択時) */
.select_type label {
  background-color: #373740;
  border-radius: 4px;
  font-weight: 700;
  color: #ffffff;
  text-align: center;
  display: inline-block;
  padding: 5px 0px;
  width: 100px;
}


/* 種別選択ラベル(選択時) */
.select_type input:checked + label {
  box-shadow: 0 0 0 -1px #FFF inset;
  color: #FFF;
  background: #7EB634;
  border-color: #7EB634;
}

/* 抽選ボタン */
.lottery {
  font-family: "Nico Moji";
  font-size: 2em;
}

/* スペース */

.space {
  padding-bottom:20px;
}

/* 種別選択 */
.result {
  text-align: center;
}

.result_member_male{
  background-color: #55FFFF;
  border-radius: 4px;
  font-weight: 700;
  font-size: .85em;
  letter-spacing: 4px;
  text-decoration: none;
  color: #ffffff;
  font-family: "Nico Moji";
  text-align: center;
  width: 130px;
  padding: 5px 0;
  cursor: pointer;
  display: block;
}

.result_member_female{
  background-color: #FF55FF;
  border-radius: 4px;
  font-weight: 700;
  font-size: .85em;
  letter-spacing: 4px;
  text-decoration: none;
  color: #ffffff;
  font-family: "Nico Moji";
  text-align: center;
  width: 130px;
  padding: 5px 0;
  cursor: pointer;
  display: block;
}

.vs {
  color: #000000;
  text-align: center;
}

.result-male {

}

.result-female {

}